#button-link {
  justify-self: center;
}

#button-link button {
  background: #6e01ff;
  width: 200px;
  padding: 1em;
  border-radius: 7px;
  border: none;
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s, transform 0.3s;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#button-link button:hover {
  box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

#button-link button:focus {
  outline: none;
}

#button-link button a {
  font-size: 1em;
  text-decoration: none;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
