#button {
  background: #6e01ff;
  width: 200px;
  display: block;
  margin: 15px auto;
  text-decoration: none;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding: 1em;
  border-radius: 7px;
  border: none;
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s, transform 0.3s;
  margin-top: 0;
}

#button:hover {
  box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

#button:focus {
  outline: none;
}

#button a {
  font-size: 1em;
  text-decoration: none;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
}
