.loguearse {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
}

.loguearse {
  margin-top: 10px;
}

.loguearse button {
  width: 200px;
  padding: 1em;
  border-radius: 7px;
  border: none;
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s, transform 0.3s;
  margin-top: 0;
}

.loguearse button:hover {
  box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

.loguearse button:focus {
  outline: none;
}

.loguearse button p {
  font-size: 1em;
  text-decoration: none;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  margin: 0;
  text-transform: uppercase;
}

.loguearse button:nth-child(1) {
  margin-right: 20px;
  background: #cf4332;
}

.loguearse button:nth-child(2) {
  background: #3c66c4;
}
